<section [@slideIn]>
  <div class="container">
    <article class="item-pane">
      <div class="item-preview">
        <img class="book" src="{{news?.image}}" alt="{{news?.title}}">
      </div>
      <div class="item-details">
        <h1>{{news?.title}}</h1>
        <div class="pane__section">
          <p>
            {{news?.description}}
          </p>
        </div>
        <div class="pane__section">
          <p class="capitalize">Country: {{news?.place}}</p>
        </div>
      </div>
    </article>
  </div>
</section>
