@import "../../../scss/styles";

section {
  display: flow-root;
  margin: 5%;
}

.container {
  padding: 0 60px;
  min-width: 600px;
}

.item-pane {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  padding: 10px 20px;
  margin: 10px auto;

  background: $color-snow;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.item-preview {
  margin-right: 10px;
  padding: 10px;
}

.item-preview,
.item-details {
  flex-grow: 1;
}

.pane__section {
  padding-top: 10px;

  &:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-fossil;
  }
}

h1 {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  font-family: 'Roboto Slab', Roboto, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

p {
  line-height: 1.4;
}

.book {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
