// --------------------------------------------------------
//           COLOR DEFINITION
// --------------------------------------------------------

$color-primary:                #673ab7;
$color-secondary:              #ff5b5b;
$color-azure:                  #248ED8;
$color-infinite:               #003057;

$color-snow:                   #FFFFFF;
$color-pearl:                  #EFF1F2;
$color-smoke:                  #D7D8DB;
$color-fossil:                 #8F8F9A;
$color-iron:                   #5b5b62;
$color-shadow:                 #3b3b40;
$color-ink:                    #000000;
