@import "./colors";

// General style
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif !important;
}

button, a, p {
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif !important;
  font-size: 14px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

// Responsive mixins
@mixin for-phone-only {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet-only {
  @media (max-width: 800px) { @content; }
}

@mixin for-small-laptop-only {
  @media (max-width: 1100px) { @content; }
}

